*{
    padding: 0px; 
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

body{
    margin-left: 10px;
    background-color: #000;
}

nav ol{
    font-size: 40px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: rgb(125, 200, 140);
}
a{
    padding: 10px;
}
ol a:hover{
    background-color: blueviolet;
    color: #ffff;
}

.galeria img{
    vertical-align: top;
    width: 350px;
    margin: 10px;
    border: 2px solid #ffff;
    padding: 5px;
}

.galeria img:hover{
    cursor: pointer;
    opacity: .5;
}
@media(min-width: 720px){
    /* header{
        position: fixed;
        width: 100%;
    } */
}


